body{
  width: 100%;
  height: 100%;
  background-color: darkblue;
  color: white;
}

header{
  font-size: 40px;
  color: white;
  text-align: center;

}

nav{
background-color: grey;
color: white;
font-size: 30px;

}

#myInput {
    /* background-image: url('/css/searchicon.png'); */
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    color: white;
  }
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #F6F6F6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    width: 20%;
  }
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }
  #search_container{
    position: relative;
  }
  #autocomplete{
    position: absolute; 
    z-index: -1; 
    border:0; 
    font-size:14px; 
    left: 10px; 
    top:10px; 
  } 

  /* meal dropdowns and input */
  
#myInput2 {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color: white;

}
#myUL2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
#myUL2 li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #F6F6F6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 20%;
}
#myUL2 li a:hover:not(.header) {
  background-color: #eee;
}

#h4{
  background-color: darkgrey;
  color: black;
  font-size: 75%;

}

.modal {
  background-color: darkgrey;
  color: black;
  font-size: 75%;

}

.modal-footer{
  background-color: darkgrey;
  color: black;
  font-size: 75%;
}

.wrapper {
  width: 100%;
}

.Spacing1 {
  margin: 75px
}

.Spacing2 {
  margin: 75px
  }
  
  .brand-logo{
    margin-left: 25px;
  }

  .brand-logo2{
    margin-left: 150px;

  }
  