body {
  width: 100%;
  height: 100%;
  background-color: rosybrown;
  color: linen;
  font-family: "Quintessential", cursive;
}

a {
  color: white;
}

header {
  font-size: 75px;
  color: maroon;
  text-align: center;
}

nav {
  background-color: linen;
  color: rosybrown;
  font-size: 30px;
}

#myInput {
  /* background-image: url('/css/searchicon.png'); */
  margin: 20px 20px 20px 20px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid maroon;
  margin-bottom: 12px;
  color: white;
  font-family: "Acme", sans-serif;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
#myUL li a {
  border: 2px solid maroon;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 40%;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#search_container {
  position: relative;
}

#autocomplete {
  position: absolute;
  z-index: -1;
  border: 0;
  font-size: 14px;
  left: 10px;
  top: 10px;
}

/* meal dropdowns and input */

#myInput2 {
  /* background-image: url('/css/searchicon.png'); */
  margin: 35px 20px 20px 20px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid maroon;
  margin-bottom: 12px;
  color: white;
  font-family: "Acme", sans-serif;
}

#myUL2 {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}
#myUL2 li a {
  border: 2px solid maroon;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 40%;
}
#myUL2 li a:hover:not(.header) {
  background-color: #eee;
}

#input3 {
  border: 2px solid maroon;
  padding: 12px 20px 12px 40px;
  width: 50%;
  margin: 20px 20px 20px 20px;
  font-family: "Acme", sans-serif;
}
#input2 {
  margin: 20px 20px 20px 20px;
  border: 2px solid maroon;
  padding: 12px 20px 12px 40px;
  width: 50%;
  display: inline-flex;
  font-family: "Acme", sans-serif;
}

.brand-logo {
  margin-left: 60px;
}
.brand-logo2 {
  margin-left: 10px;
}

#h4 {
  background-color: darkgrey;
  color: black;
  font-size: 75%;
}

.modal {
  background-color: linen;
  color: black;
  font-size: 75%;
  font-family: "Quintessential", cursive;
}

.modal-footer {
  background-color: linen;
  color: black;
  font-size: 75%;
  margin-bottom: 25px;
}

#input2 {
  color: white;
}

#input3 {
  color: white;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: linen;
  color: rosybrown;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: center;
  font-size: larger;
}
.modal .modal-content {
  padding: 24px;
  background-color: linen;
  color: rosybrown;
}

.btn {
  text-decoration: none;
  color: rosybrown;
  background-color: linen;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
  color: linen;
  background-color: maroon;
}
.btn:focus {
  background-color: maroon;
}

nav ul a {
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  font-size: 20px;
  color: rosybrown;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}
nav ul a:hover {
  color: linen;
  background-color: maroon;
}
button {
  background-color: linen;
  color: rosybrown;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
}
button:hover {
  background-color: maroon;
  color: linen;
}
button:focus {
  background-color: maroon;
}
.btn-flat {
  margin: 25px 0;
}
.modal .modal-close {
  cursor: pointer;
  background-color: linen;
  color: rosybrown;
  margin-bottom: 25px;
}
.modal .modal-close:hover {
  cursor: pointer;
  background-color: maroon;
  color: linen;
}
h5 {
  font-size: 45px;
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
  margin-left: 20px;
  
}

.modal-trigger {
  margin-top: 10px;
  font-family: "Quintessential", cursive;
}

.modal-content {
  line-height: 30px;
  font-family: "Acme", sans-serif;
}

#Submit{
  font-family: "Quintessential", cursive;
}

#submit2{
  font-family: "Quintessential", cursive;
}

#Submit3{
  font-family: "Quintessential", cursive;
}

#submit4{
  font-family: "Quintessential", cursive;
}

.modal-close {
  font-size: 35px;
  border: 1px solid maroon;
   
}

.Hyperlinks {
  margin-left: 375px;
}

#closer {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  body {
   position: relative;
   background-color: crimson;
   }
 }


